.input-wrapper {
  background: black;
  width: 80%;
  height: 200px;
  position: absolute;
  top: 50px;
  display: none;
}

.input-wrapper.show{
  display: block;
}
/* .gj-textbox-md {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-indent: 15px;
} */